
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRezervacijaProdajaLabel">Create or edit a Rezervacija Prodaja</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.rezervacijaProdaja.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.rezervacijaProdaja.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="kcotApp.rezervacijaProdaja.rezervisao_ime" for="field_rezervisao_ime">Rezervisao Ime</label>
            <input type="text" class="form-control" name="rezervisao_ime" id="field_rezervisao_ime"
                    ng-model="vm.rezervacijaProdaja.rezervisao_ime"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cena">Cena</label>
            <input type="number" class="form-control" name="cena" id="field_cena"
                    ng-model="vm.rezervacijaProdaja.cena"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="kcotApp.rezervacijaProdaja.broj_karata" for="field_broj_karata">Broj Karata</label>
            <input type="number" class="form-control" name="broj_karata" id="field_broj_karata"
                    ng-model="vm.rezervacijaProdaja.broj_karata"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="kcotApp.rezervacijaProdaja.br_male_dece" for="field_br_male_dece">Br Male Dece</label>
            <input type="number" class="form-control" name="br_male_dece" id="field_br_male_dece"
                    ng-model="vm.rezervacijaProdaja.br_male_dece"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="kcotApp.rezervacijaProdaja.br_velike_dece" for="field_br_velike_dece">Br Velike Dece</label>
            <input type="number" class="form-control" name="br_velike_dece" id="field_br_velike_dece"
                    ng-model="vm.rezervacijaProdaja.br_velike_dece"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_firma">Firma</label>
            <input type="text" class="form-control" name="firma" id="field_firma"
                    ng-model="vm.rezervacijaProdaja.firma"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="kcotApp.rezervacijaProdaja.aktivna_rez" for="field_aktivna_rez">Aktivna Rez</label>
            <input type="checkbox" class="form-control" name="aktivna_rez" id="field_aktivna_rez"
                    ng-model="vm.rezervacijaProdaja.aktivna_rez"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_opis">Opis</label>
            <input type="number" class="form-control" name="opis" id="field_opis"
                    ng-model="vm.rezervacijaProdaja.opis"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="kcotApp.rezervacijaProdaja.status_rez_prod" for="field_status_rez_prod">Status Rez Prod</label>
            <select class="form-control" name="status_rez_prod" ng-model="vm.rezervacijaProdaja.status_rez_prod" id="field_status_rez_prod" required>
                <option value="REZERVISANO">REZERVISANO</option>
                <option value="PRODATO">PRODATO</option>
            </select>
            <div ng-show="editForm.status_rez_prod.$invalid">
                <p class="help-block"
                    ng-show="editForm.status_rez_prod.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_gost">Gost</label>
            <select class="form-control" id="field_gost" multiple name="gost" ng-model="vm.rezervacijaProdaja.gosts" ng-options="gost as gost.ime for gost in vm.gosts track by gost.id"></select>
        </div>
        <div class="form-group">
            <label for="field_skola">Skola</label>
            <select class="form-control" id="field_skola" name="skola" ng-model="vm.rezervacijaProdaja.skola" ng-options="skola as skola.naziv for skola in vm.skolas track by skola.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_uSali">U Sali</label>
            <select class="form-control" id="field_uSali" name="uSali" ng-model="vm.rezervacijaProdaja.uSali" ng-options="uSali as uSali.naziv for uSali in vm.usalis track by uSali.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.uSali.$invalid">
            <p class="help-block"
                ng-show="editForm.uSali.$error.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label translate="kcotApp.rezervacijaProdaja.obavio_rez" for="field_obavio_rez">Obavio Rez</label>
            <select class="form-control" id="field_obavio_rez" name="obavio_rez" ng-model="vm.rezervacijaProdaja.obavio_rez" ng-options="zaposleni as zaposleni.ime for zaposleni in vm.zaposlenis track by zaposleni.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="kcotApp.rezervacijaProdaja.obavio_prodaju" for="field_obavio_prodaju">Obavio Prodaju</label>
            <select class="form-control" id="field_obavio_prodaju" name="obavio_prodaju" ng-model="vm.rezervacijaProdaja.obavio_prodaju" ng-options="zaposleni as zaposleni.ime for zaposleni in vm.zaposlenis track by zaposleni.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
