
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySedisteLabel">Kreiraj ili modifikuj sedište</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.sediste.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.sediste.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_red">Red</label>
            <input type="number" class="form-control" name="red" id="field_red"
                    ng-model="vm.sediste.red"
                    required />
            <div ng-show="editForm.red.$invalid">
                <p class="help-block"
                    ng-show="editForm.red.$error.required">
                    Ovo polje je obavezno.
                </p>
                <p class="help-block"
                    ng-show="editForm.red.$error.number">
                    Ovo polje bi trebalo da je broj.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_broj">Broj</label>
            <input type="number" class="form-control" name="broj" id="field_broj"
                    ng-model="vm.sediste.broj"
                    required />
            <div ng-show="editForm.broj.$invalid">
                <p class="help-block"
                    ng-show="editForm.broj.$error.required">
                    Ovo polje je obavezno.
                </p>
                <p class="help-block"
                    ng-show="editForm.broj.$error.number">
                    Ovo polje bi trebalo da je broj.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Otkaži</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Sačuvaj</span>
        </button>
    </div>
</form>
